!.vscode/extensions.json
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.env
.env.backup
.env.production
.fleet
.idea
.idea_modules/
.phpunit.cache
.phpunit.result.cache
.vscode
/cypress/screenshots/
/cypress/videos/
/public/build
/public/hot
/public/storage
/storage/*.key
auth.json
coverage
dist
dist-ssr
Homestead.json
Homestead.yaml
lerna-debug.log*
logs
node_modules
npm-debug.log
npm-debug.log*
pnpm-debug.log*
vendor
yarn-debug.log*
yarn-error.log
yarn-error.log*
